.App {
  text-align: center;
  background-color: black;
  color: white;
  font-size: calc(10px + 1vmin);
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  .refresh-container {
    font-size: 0.75em;
  }

  .content-container {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    flex: 1;

    .container-namespaced-pods {
      .namespaces {
        display: flex;
        flex-direction: column;
        text-align: left;

        .namespace {
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }

        .namespace-selected {
          cursor: pointer;
          font-weight: bold;
          text-decoration: underline;
        }
      }

      .pods {
        display: flex;
        flex-direction: column;
        text-align: left;

        .pod {
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }

        .pod-selected {
          cursor: pointer;
          font-weight: bold;
          text-decoration: underline;
        }
      }

      .pod-details {
        display: flex;
        flex-direction: column;
        text-align: left;

        .pod-status-phase-running {
          color: green;
        }

        .pod-status-phase-other {
          color: red;
        }
      }
    }

    .container-nodes {
      .nodes {
        display: flex;
        flex-direction: column;
        text-align: left;

        .node {
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }

        .node-selected {
          cursor: pointer;
          font-weight: bold;
          text-decoration: underline;
        }
      }

      .node-details {
        display: flex;
        flex-direction: column;
        text-align: left;
      }
    }
  }

  footer {
    flex: 0;
    font-size: 0.75em;
  }
}

a {
  color: #2a5399;
}

.separator {
  opacity: 50%;
}
